<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-uppercase>To Do's</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button
      ion-fab
      color="red"
      (click)="onCreateNew($event)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list>
    <ion-list-header no-lines>
      Today
    </ion-list-header>
    <ion-item-sliding *ngFor="let task of (todoState | async).todos">
      <ion-item>
        <ion-label>{{task.title}}</ion-label>
        <ion-checkbox [checked]="task.done"></ion-checkbox>
        <ion-icon name="home" item-end></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header no-lines>
      Tomorrow
    </ion-list-header>
    <ion-item-sliding *ngFor="let task of (todoState | async).todos">
      <ion-item>
        <ion-label>{{task.title}}</ion-label>
        <ion-icon name="build" item-end></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
