quote {
  .app-quote {

    .app-quote-text {
      font-style: italic;
      font-size: 18px;
      line-height: 90%;
    }

    .app-quote-author {
      font-size:14px;
      color: gray;
    }
  }
}
