<ion-list>
    <ion-list-header no-lines>{{reminderListHeader | uppercase}}</ion-list-header>
    <ion-item *ngIf="reminders.length === 0">
        <ion-label>No entries, create one!</ion-label>
    </ion-item>
    <ion-item *ngFor="let reminder of reminders">
        <ion-label>
            <h2>{{reminder.title}}</h2>
            <p *ngIf="showDateTime">{{reminder.dateTime | date:'EEEE, MMMM d, y, h:mm'}}</p>
        </ion-label>
        <ion-icon
                name="{{getIconName(reminder.category)}}"
                item-end></ion-icon>
    </ion-item>
</ion-list>
