page-home {
  padding-top: 30px;

  .homeDuties {
    text-align: center;
  }

  .currentDate {
    text-align: center;
    color: gray;
  }

  .logo {
    width: 80%;
    margin: auto;
    display: block;
  }
}
