.app-quote {
  margin-bottom:50px;
  //position:absolute;
  //bottom:0;
  //left:0;
  //text-align: center;


  .app-quote-text {
    color: white;
    font-style: italic;
    font-size: 36px;
    line-height: 90%;
  }

  .app-quote-author {
    font-size:28px;
    color: gray;
  }
}
